<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Cocktails</title>
</head>

<body>
  <h1>Cocktail list</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% cocktails.forEach(e => { %>
      <tr>
        <td>
          <%= e.name %>
          <% if(e.isAlcoholic !== true) {%>
          (non-alcoholic)
          <% }%>
          <br>
          <%= e.contains %>
        </td>
        <td>
          <%= e.price %> Ft
        </td>
        <% }); %>
      </tr>
    </tbody>
  </table>
</body>

</html>