<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cocktails</title>
  </head>
  <body>
    <h1>Cocktail list</h1>
      <% cocktails.forEach(function(item){ %>
         <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= item.name %><br><%= item.contains %></td>
              <td><%= item.price %> Ft</td>
            </tr>
          </tbody>
        </table>
      
     <% }); %>
  </body>
</html>