.wrapper{
  width: 100%;
  max-width: 857px;
  margin: 0 auto;
}
.container{
  display: flex;
  flex-direction: row-reverse;
}

.item{
  height: 200px;
  color: green;
  flex-grow: 1;
}
.green{
  background:#51D400;
}
.yellow{
  background:#FFD62A;
  flex-grow: 2;
}
.purple{
  background:#B02AFF;
}