html{
  width: 800px;
  height: 800px;
  background: #3E94EC;
}
body{
  background: #9EA7AF;
}
table{
  font-family: 'Times New Roman', Times, serif;
  font-style: unset;
}
table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
th{
  text-align: start;
  padding-left: 30px;
  font-size: 150%;
  width: 400px;
  height: 80px;
  background-color: #1B1E24;
  color: white;
}
td{
 color: #666A85;
 font-size: 150%;
 width: 200px;
 height: 80px;
 padding-left: 30px;

}
tbody{
  background-color: green;
}
tbody>tr:nth-child(2n){
  background: #EBEBEB;
}
tbody>tr:nth-child(2n+1) {
  background: #FFFFFF;
}